*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Commissioner', sans-serif;
    background: url('../img/bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #FAFAFA;
}

/* Navbar */

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 48px 166px 60px 166px;
}

.nav-bar .nav-links{
    list-style-type: none;
    display: flex;
    gap: 32px;
}

.nav-bar .link{
    text-decoration: none;
    color: #FFF;
    font-size: 13px;
    font-weight: 500;
}

/* Navbar Ends */

.container{
    width: 730px;
    margin-top: 180px;
    margin-inline: auto;
    margin-bottom: 124px;
}

.items-container{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.item{
    background: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}

/* Header */

.header-logo{
    position: absolute;
    left: 50%;
    top: -25px;
}

.header{
    text-align: center;
    padding: 56px 48px 48px 48px;
}

.heading{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 15px;
}

.heading-content{
    color: #7A7A7A;
    margin-bottom: 40px;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

.button{
    text-decoration: none;
    display: flex;
    align-items: center;
}

#back-to-project{
    padding: 18px 40px;
    border-radius: 33.5px;
    background: #3CB3AB;
    color: #FFF;
    font-weight: 700;
    transition: background .3s ease;
}

#bookmark{
    position: relative;
    border-radius: 33.5px;
    background: rgba(47, 47, 47, .05);
    color: #7A7A7A;
    font-weight: 700;
    padding: 18px 24px 18px 72px;
}

#bookmark svg{
    position: absolute;
    left: 0;
}

/* Header Ends */


/* Fundraising */
.fundraising-info{
    padding: 48px;
}

.fundraising-elements{
    display: flex;
}

.fundraising-element{
    display: flex;
    flex-direction: column;
    margin-left: 47px;
    gap: 8px;
    padding-right: 70px;
    border-right: 2px solid rgba(0, 0, 0, 0.15);
}

.fundraising-element:first-child{
    margin-left: 0px !important;
}

.fundraising-element h4{
    font-size: 32px;
    font-weight: 700;
}

.fundraising-element span{
    color: #7A7A7A;
    font-size: 15px;
}

.progress-bar{
    width: 100%;
    border-radius: 33.5px;
    background:rgba(47, 47, 47, .05);
    margin-top: 40px;
}

.progress-inline{
    width: 78%;
    height: 12px;
    border-radius: 33.5px;
    background: #3CB3AB;
}

/* Funraising Ends */

/* About Project */
.about-project{
    padding: 48px;
}

.about-heading{
    color: #000;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 35px;
}

.about-content{
    color: #7A7A7A;
    line-height: 30px;
}

.second-p{
    margin: 40px 0px;
}

/* Options */
.option-container{
    margin-bottom: 24px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: #FFF;
    padding: 38px 32px 32px 32px;
}

.option-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.option-title{
    font-size: 18px;
    font-weight: 700;
    transition: color .2s ease;
    cursor: pointer;
}

.pledge-amount{
    color: #3CB3AB;
    font-size: 15px;
    font-weight: 500;
}

.option-content{
    color: #7A7A7A;
    line-height: 30px;
    margin-bottom: 24px;
}

.option-bottom{
    display: flex;
    justify-content: space-between;
}

.remaining-number{
    display: flex;
    align-items: center;
    color: #000;
    font-size: 32px;
    font-weight: 700;
    gap: 8px;
}

.left{
    color: #7A7A7A;
    font-size: 15px;
    font-weight: 400;
}

.select-reward-btn{
    border-radius: 33.5px;
    background: #3CB3AB;
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    padding: 15px 33px;
    transition: background .2s ease;
}

/* No Left Container */

.no-left{
    opacity: .5;
}

.no-left .select-reward-btn{
    pointer-events: none;
    background: #2F2F2F;
    padding: 16px 38px;
}

/* Hover Effects */

.buttons #back-to-project:hover{
    background: #147A73;
}

#bookmark:hover circle#bookmark-icon-circle{
    transition: fill .3s ease;
    fill: #707070;
}

.select-reward-btn:hover{
    background: #147A73;
}

.modal .option-title:hover{
    color: #3CB3AB;
}

/* Active Classes Css */
#bookmark.active circle#bookmark-icon-circle{
    fill: #147A73;
}

#bookmark.active path#bookmark-icon-path{
    fill: white ;
}

#bookmark.active{
    color: #147A73;
}

/* Modal */

.modal{
    width: 730px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    background: #FFF;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.modal form{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

::backdrop{
    opacity: 0.4988;
    background: #000;
}

.modal .heading-container{
    margin-bottom: 32px;
}

.modal .about-heading{
    margin-bottom: 16px;
}

.modal-option-container{
    position: relative;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.modal .option-info-container{
    padding: 32px 28px 24px 76px;
}

.modal .radio-input{
    position: absolute;
    top: 36px;
    left: 28px;
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.modal .radio-input:checked{
    appearance: none;
    border-radius: 50%;
    background-color: #3cb4ac;
    border: 5px solid #fff;
    -webkit-box-shadow: 0 0 0 1px rgba(122, 122, 122, 0.3);
    box-shadow: 0 0 0 1px rgba(122, 122, 122, 0.3)
}

.modal-option-container{
    border: 2px solid transparent;
}

.modal-option-container:has(.radio-input:checked){
    border: 2px solid #3CB3AB;
}

.modal .option-top-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 17px;
}

.modal .option-top-left{
    display: flex;
    gap: 17px;
}

.modal .option-title{
    font-size: 16px;
    font-weight: 700;
}

.modal .remaining-number{
    color: #000;
    font-size: 18px;
    font-weight: 700;
}

.modal .option-content{
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
}

.modal .option-bottom-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 28px;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.modal .pledge-container{
    display: flex;
    gap: 16px;
}

.modal .pledge-input-container{
    display: flex;
}

.modal .pledge-label{
    color: #7A7A7A;
    font-size: 15px;
    line-height: 28px;
}

.modal .pledge-input-container{
    padding: 15px 24px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 33.5px;
}

.modal .pledge-input-container span{
    font-size: 14px;
    font-weight: 700;
    opacity: 0.25;
}

.modal .pledge-input{
    max-width: 35px;
    width: 100%;
    border: none;
    margin-left: 5px;
    font-size: 14px;
    font-weight: 700;
}

.modal .pledge-input:focus{
    outline: none;
}

.modal .continue-button{
    padding: 15px 24px;
    border-radius: 33.5px;
    border: none;
    background: #3CB3AB;
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

/* display none */

.modal .option-bottom-container{
    display: none;
}

.modal-option-container:has(.radio-input:checked) .option-bottom-container{
    display: flex;
}

/* Close Modal */

.close-modal{
    position: absolute;
    right: 32px;
    top: 32px;
    cursor: pointer;
}

.close-modal:hover path#close-modal-icon{
    opacity: 1;
}

/* Success Dialog */

.success-dialog{
    width: 540px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    background: #FFF;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    padding: 48px;
}

.success-dialog-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.success-dialog img{
    margin-bottom: 48px;
}
.success-dialog h3{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}

.success-dialog p{
    color: #7A7A7A;
    line-height: 30px;
    text-align: center;
    margin-bottom: 32px;
}

.success-dialog button{
    padding: 15px 32.5px;
    border-radius: 33.5px;
    background: #3CB3AB;
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}